.header {
  max-width: 100%;
  min-height: 100vh;
  background-image: url("../img/first-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 940px;
  height: 700px;
  margin: 0 auto;
}

.header__top-bar {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  margin-top: 51px;
}

.header__burger {
  width: 20px;
  height: 20px;
  display: none;
}

.logo {
  margin-top: 43px;
}

.menu__list {
  overflow: auto;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  margin-left: 39px;
}

.menu__link {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__link:hover {
  color: #fed136;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.heading__title {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 270px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;
}

.heading__subtitle {
  position: absolute;
  top: 359px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
}

.button-link {
  color: #484543;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  color: #000;
  text-decoration: none;
  position: absolute;
  bottom: 160px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 241px;
  height: 65px;
  background-color: #fed136;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(254, 209, 54, 0.7);
}

.services {
  width: 100%;
  min-height: 568px;
  padding: 102px;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.services__heading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__title {
  display: block;
  color: #222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.services__subtitle {
  color: #777;
  font-size: 16px;
  font-weight: 400;
}

.services__columns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 79px;
}

.columns__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 185px;
  max-width: 255px;
}

.column__icon {
  height: 73px;
  padding-bottom: 25px;
}

.column__title {
  display: block;
  color: #222;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 25px;
}

.column__discription {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0px 20px;
}

@media (max-width: 769px) {
  .services {
    padding: 102px 20px 50px;
  }
}

@media (max-width: 769px) {
  .columns__column {
    margin: 0px auto 60px;
  }
  .columns__column:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 769px) {
  .services__columns {
    display: block;
    margin: 0 auto;
  }
  .services__title {
    font-size: 30px;
  }
}

.portfolio {
  padding: 120px 20px 133px;
  width: 100%;
  min-height: 697px;
  background-color: #f7f7f7;
}

.portfolio__wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__title {
  padding: 0 0 20px 0;
  color: #222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio__subtitle {
  color: #777;
  font-size: 16px;
  font-weight: 400;
}

.portfolio__works {
  width: 100%;
  padding: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__img {
  width: 291px;
  height: 301px;
}

.works__picture {
  height: 100%;
  width: 100%;
}

@media (max-width: 769px) {
  .portfolio__works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__img {
    width: 291px;
    height: 301px;
    margin-bottom: 35px;
  }
  .portfolio__title {
    font-size: 30px;
  }
}

.about {
  width: 100%;
  min-height: 100%;
  padding: 107px 20px 40px;
}

.about__wrapper {
  position: relative;
  text-align: center;
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.about__heading {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  width: 100%;
  color: #222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__subtitle {
  width: 100%;
  color: #777;
  font-size: 16px;
  font-weight: 400;
}

.about__content {
  padding-top: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__left {
  padding-bottom: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.content__left .content__discription {
  text-align: right;
  padding-right: 41px;
  margin-left: 43px;
}

.content__img {
  height: 180px;
  width: 180px;
}

.content__right {
  padding-bottom: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content__right:last-child {
  padding-bottom: 0;
}

.content__right .content__discription {
  text-align: left;
  padding-left: 41px;
  margin-right: 43px;
}

.discription__title {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.discription__subtitle {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
}

.discription__text {
  color: #777;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 769px) {
  .content__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__discription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .discription__text {
    text-align: justify;
  }
  .about__title {
    font-size: 30px;
  }
  .discription__subtitle {
    text-align: center;
  }
}

.footer {
  height: 185px;
  max-width: 100%;
}

.footer__wrapper {
  text-align: center;
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding-top: 57px;
}

.copyright {
  max-width: 100%;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.footer__link {
  text-decoration: none;
  color: #555;
}

.footer__link:hover {
  color: #fed136;
}

@media (max-width: 769px) {
  .footer__link {
    display: block;
    padding-top: 20px;
  }
}

@media (max-width: 769px) {
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .logo {
    margin-top: 23px;
    z-index: 80;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu__list.active {
    opacity: 1;
    visibility: visible;
    display: block;
    top: 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    height: 100%;
    padding: 0;
  }
  body.lock {
    overflow: hidden;
  }
  span {
    position: absolute;
    background-color: #fed136;
    width: 100%;
    height: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    z-index: 70;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fed136;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger:before {
    top: 0vw;
  }
  .header__burger {
    right: 20px;
    top: 20px;
    position: absolute;
    display: block;
    z-index: 60;
  }
  .menu__list {
    overflow: auto;
    display: block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
    z-index: 20;
  }
  .menu__link {
    font-size: 25px;
    z-index: 5;
  }
  .menu__item {
    margin: 60px 0px 0px 0px;
  }
}

@media (max-width: 885px) {
  .heading__title {
    font-size: 20px;
    z-index: 1;
  }
  .heading__subtitle {
    font-size: 35px;
    z-index: 1;
  }
}

@media (max-height: 600px) {
  .heading__title {
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 20px;
    z-index: 1;
  }
  .heading__subtitle {
    position: absolute;
    top: 159px;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .button-link {
    position: absolute;
    bottom: 360px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
